html, body {
    height: 100%;
    margin: 0; /* Remove as margens padrão do corpo e da página */
    overflow: hidden; /* Remove barras de rolagem padrão */
    border: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}