html, body {
    height: 100%;
    margin: 0; /* Remove as margens padrão do corpo e da página */
    overflow: hidden; /* Remove barras de rolagem padrão */
    border: 0;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(169,169,169);
    background: linear-gradient(228deg, rgba(169,169,169,1) 78%, rgba(0,0,0,1) 100%);
}